BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
IndentCaseLabels: true
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
AlignConsecutiveAssignments:
  Enabled: true
AlignTrailingComments:
  Kind: Never
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
